body, .tooltip
 {
  font-family: 'Open Sans', sans-serif;
}

.header-bar {
  background-color: #292929;
}

.container--narrow {
  max-width: 732px;
}

.header-search-icon {
  position: relative;
  top: 3px;
}

.header-chat-icon {
  cursor: pointer;
  position: relative;
  top: 3px;
}

.avatar-small {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-right: 5px;
  position: relative;
  top: -3px;
}

.avatar-tiny {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  margin-right: 4px;
  position: relative;
  top: -1px;
}

.form-control-title {
  font-size: 2rem;
  font-weight: 500;
}

.body-content {
  font-size: 1.2rem;
  line-height: 1.75;
  color: #292929;
}

.body-content p,
.body-content ul,
.body-content ol {
  margin-bottom: 1.75rem
}

.input-dark {
  background-color: #444;
  border-color: transparent;
  color: #FFFFFF;
}

.input-dark:focus {
  color: #FFFFFF;
  background-color: #555;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.input-dark::-webkit-input-placeholder {color: #888;}
.input-dark::-moz-placeholder {color: #888;}
.input-dark:-ms-input-placeholder {color: #888;}
.input-dark:-moz-placeholder {color: #888;}

@media (min-width: 768px) {
  .input-dark {
   width: auto;
  }
}

.display-3 {
  font-size: 4.35rem;
}

@media (max-width: 768px) {
  .display-3 {font-size: 2.5rem}
}

.form-group {
  position: relative;
}

.liveValidateMessage {
  transition: all .5s ease-out;
  top: -6px;
  position: absolute;
  z-index: 1;
  padding-top: 6px;
  padding-bottom: 16px;
  opacity: 0;
  transform: translateY(100%)
}

.liveValidateMessage--visible {
  opacity: 1;
  transform: translateY(0)
}

.form-group input,
.form-group textarea {
  position: relative;
  z-index: 2;
}

textarea.tall-textarea {
  height: 160px;
}

@media (min-width: 768px) {
  textarea.tall-textarea {
    height: 320px;
  }
}
